.header {
  width: 100%;
  background-color: #12232e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 0 72px;

  margin-bottom: 57px;

  padding: 7px 0 24px 0;
}

.header a {
  font-size: 14px;
}

.header > span {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 14px;
  color: white;
  font-size: 14px;
}
