.textArea h1 {
  font-size: 16px;
  margin-bottom: 7px;
}

.textArea textarea {
  font-size: 16px;
  padding: 14px;
  background-color: #152836;
  border: none;
  height: 150px;
  width: 100%;
  resize: none;
  outline: none;
}

/* Custom scrollbar styles */
.textArea textarea::-webkit-scrollbar {
  width: 4px;
}

.textArea textarea::-webkit-scrollbar-thumb {
  background-color: #989898;
  border-radius: 2px;
}

.textArea textarea::-webkit-scrollbar-track {
  background-color: #1d384c;
  border-radius: 2px;
}

.textArea textarea::-webkit-scrollbar-button {
  display: none;
}
