.page {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: auto auto;
  padding: 0 112px;
  flex-direction: column;
  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: column;
}

.page :global(.swiper-thumbs .swiper-wrapper) {
  padding: 10px 0px;
  align-items: center;
}

.page :global(.swiper-slide-thumb-active) {
  padding: 0px;
  box-sizing: border-box;
  border: 2px solid #007cc7;
  border-radius: 3px;
}

.car {
  display: flex;
  justify-content: space-between;
  color: #d7d7d7;
}

.carInfo {
  max-width: 664px;
  width: 100%;

  margin-right: 24px;
}

.carDetails {
  margin-top: 72px;
  max-width: 395px;
  width: 100%;
}

.carDetails > button {
  border: 1px solid #007cc7;
  height: 61px;
  width: 100%;
  border-radius: 3px;
  background-color: transparent;
  font-weight: bold;
  font-size: 24px;
  color: #007cc7;
}

.carInfo > section {
  margin-top: 72px;
}

.carInfo button {
  margin-top: 15px;
  color: #007cc7;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.carDetailsCad {
  background-color: #071620;
  padding: 24px;
  margin-top: 72px;
}

@media (max-width: 978px) {
  .page {
    padding: 0 24px;
  }
}

@media (max-width: 825px) {
  .car {
    flex-direction: column;
  }

  .carInfo {
    max-width: none;
  }

  .carDetails {
    max-width: none;
  }
}
