.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 48px;

  background-color: #071620;
  padding: 24px;
  width: 100%;
  border: none;
}

.flexContainer > h1 {
  font-size: 28px;
  text-decoration: underline #d7d7d7;
  margin-bottom: 27px;
  box-shadow: none;
  width: 100%;

  text-underline-offset: 10px;
}

.flexContainer > label > span {
  margin: 0;
  margin-top: 8px;
}

.flexContainer > label {
  margin: 0;
}

.flexItem {
  flex: 1;
}

.flexItem > span > input {
  width: 100%;
}

@media (max-width: 1150px) {
  .flexContainer > label {
    min-width: 200px;
    margin: 0;
  }
}
