.page {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 112px;

  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  max-width: 391px;
  margin-right: 24px;
  width: 100%;
}

.cars {
  display: flex;
  flex-direction: column;
  max-width: 761px;
  width: 100%;
}
